footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */

}
.jumbotron{
    background: dimgray;
}

body {

    background: darkgray;

}

img{
    width: 15%;
    height: 15%;
}

