<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Brucky</title>

    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="../static/css/main.css" rel="stylesheet">


</head>
<body>
    

    <div class="container" >
    github buttons for later.
        <iframe src="https://ghbtns.com/github-btn.html?user=debuggermalhotra&repo=brucky&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=debuggermalhotra&repo=brucky&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=debuggermalhotra&repo=brucky&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>-->
        <div class="header">

            <nav>
                <ul class="nav nav-pills pull-right">
                    <li id="active" role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="showSignin">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/showsignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>

          <!-- <h2 class="text-muted">BRUCKY</h2>-->

        </div>

        <br>
        <br>
        <div class="jumbotron">
            <h1 align="center" class="text-muted">BRUCKY</h1>
            <h3 align= "center" class="lead">Your ultimate to-do list app</h3>
            <p align="center"><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign Up today</a></p>
        </div>

        <div class="row-marketing">

            <div class="col-lg-6">
                <h3>What is Brucky?</h3>
                <h4>Brucky is your ultimate companion. Call it a To-do list app or a bucket list app; it is intelligent, powered by Python and backed by the classic MySQL and made with sheer insight of what users actually need.</h4>
                <h3>Why Brucky?</h3>
                <h4>Brucky is totally an in-cloud experience. You don't need any downloads; it's design is responsive, so even the web-app looks fine on your mobile device.  </h4>
<br><br><br><br><br><br>

        </div>

<footer id="footer">
    <hr>
            <h3>&copy; Brucky 2017</h3>
        </footer>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="../static/js/jquery-3.1.1.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/npm.js"></script>



</body>

</html>
