<!DOCTYPE html>
<html lang="en">
<head>
    <title>Brucky</title>

    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="../static/css/main.css" rel="stylesheet">


</head>
<body>

    <div class="container" >

        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h2 class="text-muted">Brucky</h2>
        </div>
        <div class="jumbotron">
            <h1 align="center">Brucky</h1>
            <p class="lead"></p>
            <p align="center"><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign Up today</a></p>
        </div>

        <div class="row-marketing">

            <div class="col-lg-6">
                <h3>What is Brucky?</h3>
                <h4>Brucky is your ultimate list app. Let it be a TO-DO list, let it be your bucket list. It is powered by Flask, mysql and lots of effort.</h4>
                <h3>Why Brucky?</h3>
                <p>something</p>


        </div>
<footer class="footer">
            <p>&copy; Brucky 2017</p>
        </footer>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="../static/js/jquery-3.1.1.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/npm.js"></script>



</body>

</html>
