<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unauthorized acces::Brucky</title>
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/signUp.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"  class="active"><a href="/logout">Home</a></li>

            </ul>
        </nav>
        <h2 class="text-muted">Brucky</h2>
    </div>
    <div class="jumbotron">
        <h1 align="center">Welcome back {{_user}}</h1>
        </div>

        <footer id="footer">
    <hr>
            <h3>&copy; Brucky 2017</h3>
        </footer>

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="../static/js/jquery-3.1.1.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/npm.js"></script>

<script src="../static/js/signUp.js"></script>
</body>
</html>
